body {
    background-image: url(../images/background.png);
}

* {
    text-align: center;
    font-family: monospace;
}

nav ul {
        list-style-type: none;
        position: absolute;
    }

nav li {
    float: left;
    margin-left: 155px;
    font-size: 20;
    color: #FAFAFA;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

a:visited {
    color: #91F8E5;
}

audio {
    float: left;
    margin-top: 50px;
}

.logo {
    margin-top: 100px;
    position: relative;
    left: -145px;
}

h2 {
    color: #586199;
    font-size: 60;
    background-color: lightblue;
    box-sizing: border-box;
    width: 725px;
    margin-left: 320px;
}

h3 {
    font-size: 35;
    color: lightblue;
}

table {
    padding-left: 200px;
    padding-right: 200px;
    background-color: lightblue;
    padding-top: 25px;
}

td {
    font-size: 20px;
    color: darkorchid;
}

th {
    font-size: 30px;
    color: darkviolet;
}

li {
    text-align: justify;
}

div {
    height: 125px;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8EF91;
    color: #FAFAFA;
    text-align: center;
    font-size: 10px;
}

.footer p {
    font-family: serif;
    font-size: 15px;
    color: #464150;
    text-align: center;
}

.footer>p {
    padding-top: 10px;
}

.source {
    float: left;
    clear: left;
    margin-left: 90px;
}

.fb {
    float: left;
    background: url(../images/icon.png) no-repeat -182px -91px;
    height: 33px;
    width: 33px;
    margin-left: 595px;
}

.ig {
    float: left;
    padding-left: 25px;
}